/* CartPage.module.css */

/* Контейнер для всей страницы корзины */
.cartContainer {
padding: 20px;
max-width: 1200px;
margin: 0 auto;
font-family: 'Arial', sans-serif;
background-color: #f9f9f9;
}

/* Заголовок страницы */
.cartTitle {
text-align: center;
font-size: 36px;
color: #333;
margin-bottom: 20px;
}

/* Если корзина пуста */
.emptyCart {
text-align: center;
font-size: 20px;
color: #888;
}

/* Стили для таблицы корзины */
.cartTable {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartTable th,
.cartTable td {
padding: 15px;
text-align: center;
border-bottom: 1px solid #ddd;
}

/* Стили для шапки таблицы */
.cartTable th {
background-color: #f1f1f1;
font-size: 18px;
color: #555;
}

/* Стили для строк таблицы */
.cartTable td {
font-size: 16px;
color: #333;
}

/* Кнопки для изменения количества */
.incrementButton,
.decrementButton {
padding: 5px 10px;
font-size: 16px;
color: #000000;
border: none;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
margin: 3px;
}

.incrementButton:hover,
.decrementButton:hover {
background-color: #929292cd;
}

/* Кнопка удаления товара */
.removeButton {
padding: 5px 10px;
font-size: 16px;
color: #fff;
background-color: #e53e3ee6;
border: none;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
}

.removeButton:hover {
background-color: #c53030dd;
}

/* Кнопка для очистки всей корзины */
.clearButton {
width: 200px;
margin: 30px auto 0;
padding: 10px 20px;
font-size: 18px;
color: #fff;
background-color: #757575;
border: none;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
}

.clearButton:hover {
background-color: #414040;
}

.totalPrice {
margin-top: 20px;
font-size: 18px;
font-weight: bold;
text-align: right;
}

.purchaseMessage {
color: green;
font-weight: bold;
margin: 10px 0;
}

.purchaseButton {
display: block;
width: 200px;
margin: 30px auto 0;
padding: 10px 20px;
font-size: 18px;
color: #fff;
background-color: #00ac11;
border: none;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
}