.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 10px;
  color: white;
}

.header h1 {
  color: #fff; /* Белый цвет для текста в заголовке */
}
